@font-face {
  src: url(../../vendor/fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}
@font-face {
  src: url(../../vendor/fonts/Monomakh-Regular.ttf);
  font-family: "Monomakh";
}

.footer {
  margin: 0 20%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__header {
  margin: 0 0 8px;
  font-family: "Monomakh", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  color: #375ace;
}

.footer__header:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer__text {
  margin: 0 0 8px;
}

.footer__column-header {
  margin: 0 0 8px;
  font-weight: 600;
}

.footer__link {
  margin: 0;
  color: #375ace;
  background: transparent;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__header {
    font-size: 20px;
  }

  .footer__column {
    margin-bottom: 8px;
    gap: 0;
  }
}
