.inkwell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inkwell:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.04);
  box-shadow: 0 0 50px 15px hsla(0, 0%, 0%, 0.05);
}

.inkwell__cork {
  width: 85px;
  height: 0;
  border-top: 60px solid #b9a855;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 6px;
  transform: translateY(40px);
  transition: transform 0.3s ease-in-out;
}

.inkwell__bottle {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  position: relative;
  z-index: 1;
}

.inkwell:hover .inkwell__cork {
  transform: translateY(-15px);
}

.inkwell__bottle-top {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}

.inkwell__bottle-body {
  width: 150px;
  height: 120px;
  box-shadow: 1px 3px 5px #504f4f6c;
  position: relative;
}

.inkwell__ink {
  margin: auto;
  width: 120px;
  height: 80px;
  background-color: black;
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: translateY(25px);
}

/* Black inkwell */
.inkwell__bottle_glass_black {
  position: relative;
  background: linear-gradient(#4d4d4d7b, #0000006a);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.inkwell__bottle_glass_black::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(#fff, #e8e8e8) border-box;
  border: 1px solid #00000063;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

/* Red inkwell */
.inkwell__bottle_glass_red {
  position: relative;
  background: linear-gradient(#cb20207b, #5e0a0a6a);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.inkwell__bottle_glass_red::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(#fff, #e8e8e8) border-box;
  border: 1px solid #5e0a0a6a;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

/* Green inkwell */
.inkwell__bottle_glass_green {
  position: relative;
  background: linear-gradient(#2a9b4e7b, #0952207b);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.inkwell__bottle_glass_green::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(#fff, #e8e8e8) border-box;
  border: 1px solid #0952207b;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

/* Blue inkwell */
.inkwell__bottle_glass_blue {
  position: relative;
  background: linear-gradient(#1831947b, #171e7a6a);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.inkwell__bottle_glass_blue::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(#fff, #e8e8e8) border-box;
  border: 1px solid #18308f63;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

.inkwell__bottle-lip {
  width: 125px;
  height: 20px;
  border-radius: 4px;
}

.inkwell__bottle-neck {
  width: 110px;
  height: 20px;
  border-radius: 0;
}

@media (max-width: 1200px) {
  .inkwell__cork {
    width: 75px;
  }

  .inkwell__bottle-body {
    width: 125px;
    height: 110px;
  }

  .inkwell__ink {
    margin: auto;
    width: 100px;
    height: 70px;
    transform: translateY(20px);
  }

  .inkwell__bottle-lip {
    width: 110px;
    height: 15px;
    border-radius: 4px;
  }

  .inkwell__bottle-neck {
    width: 90px;
    height: 15px;
    border-radius: 0;
  }
}

@media (max-width: 900px) {
  .inkwell__cork {
    width: 60px;
    border-top: 40px solid #b9a855;
    transform: translateY(25px);
  }

  .inkwell__bottle-body {
    width: 100px;
    height: 80px;
  }

  .inkwell__ink {
    width: 80px;
    height: 50px;
    transform: translateY(15px);
  }

  .inkwell__bottle-lip {
    width: 90px;
    height: 10px;
    border-radius: 4px;
  }

  .inkwell__bottle-neck {
    width: 75px;
    height: 10px;
    border-radius: 0;
  }
}
