@font-face {
  src: url(../../../../vendor/fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}

.story__content {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
}

.story__column {
  width: 60%;
}

.story__text {
  margin: 0 0 20px;
  font-size: 20px;
}

.story__link {
  color: #375ace;
  font-weight: bold;
}

.story__link:hover {
  opacity: 0.6;
}

.story__row {
  display: flex;
  gap: 8px;
}

.story__icon {
  width: 40px;
}

.story__icon:hover {
  opacity: 0.6;
}
