@font-face {
  src: url(../../vendor/fonts/Monomakh-Regular.ttf);
  font-family: "Monomakh";
}
@font-face {
  src: url(../../vendor/fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}

.seo {
  margin: 0 20%;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seo__section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 600px;
  border-bottom: solid 1px black;
}

.seo__section_intro {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  border-bottom: none;
}

.seo__section_work {
  display: inherit;
  flex-direction: inherit;
  gap: 30px;
}

.seo__header_one {
  font-family: "Monomakh", "Times New Roman", serif;
  font-size: 40px;
}

.seo__header_two {
  margin: 0 0 10px;
  font-family: "Monomakh", "Times New Roman", serif;
  font-size: 24px;
}

.seo__title {
  margin: 0 0 4px;
  font-family: "Monomakh", "Times New Roman", serif;
  font-size: 24px;
}

.seo__text {
  margin: 0;
}

.seo__date {
  margin: 0 0 20px;
  font-size: 20px;
}

.seo__link {
  color: #375ace;
}

.seo__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 900px) {
  .seo__header_one {
    font-size: 26px;
  }

  .seo__section {
    width: 100%;
  }

  .seo__header_two {
    margin: 0 0 10px;
    font-size: 20px;
  }

  .seo__title {
    margin: 0 0 4px;
    font-size: 20px;
  }

  .seo__date {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .seo__text {
    margin: 0;
    font-size: 14px;
  }
}
