@font-face {
  src: url(../../vendor/fonts/Monomakh-Regular.ttf);
  font-family: "Monomakh";
}
@font-face {
  src: url(../../vendor/fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}

.main {
  margin: 0 20%;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

.main__intro {
  padding: 0 0 75px;
  margin: 100px 0 75px;
  font-size: 30px;
  border-bottom: 1px solid black;
}

.main__text {
  margin: 0 0 4px;
}

.main__text_right {
  margin: 0 0 50px 325px;
}

.main__header {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 60px;
  color: #375ace;
}

.main__header_special {
  font-family: "Monomakh", "Times New Roman", serif;
}

.main__subtext {
  margin: 0;
  font-size: 24px;
}

.main__link {
  color: #375ace;
  background: transparent;
  font-weight: bold;
}

.main__link_button {
  padding: 0;
  border: none;
}

.main__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.main__featured {
  padding: 0 0 75px;
  margin: 0 0 75px;
  border-bottom: 1px solid black;
}

.main__featured-header {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 30px;
}

.main__featured-container {
  display: flex;
  justify-content: center;
}

.main__featured-link_button {
  margin: 50px 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.main__in-works {
  padding: 0 0 75px;
  margin: 0 0 75px;
  border-bottom: 1px solid black;
}

.main__works-header {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 30px;
}

.main__story {
  padding: 0 0 75px;
  border-bottom: 1px solid black;
}

@media (max-width: 1200px) {
  .main__intro {
    font-size: 24px;
  }

  .main__header {
    font-size: 50px;
  }

  .main__text_right {
    margin: 0 0 50px 275px;
  }
}

@media (max-width: 900px) {
  .main__intro {
    margin: 30px 0;
    padding: 0 0 30px;
    font-size: 18px;
  }

  .main__header {
    font-size: 26px;
  }

  .main__featured-header {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }

  .main__works-header {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
  }

  .main__text_right {
    margin: 0 0 50px 120px;
  }

  .main__text {
    font-size: 14px;
  }

  .main__subtext {
    margin: 0;
    font-size: 14px;
  }
}
