@font-face {
  src: url(../../vendor/fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}
@font-face {
  src: url(../../vendor/fonts/Monomakh-Regular.ttf);
  font-family: "Monomakh";
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000040;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  font-family: "Inter", Arial, sans-serif;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  padding: 20px;
  width: 500px;
  background-image: linear-gradient(to top, #343434, #5b5b5b);
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0;
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
}

.modal__close-icon {
  width: 100%;
}

.modal__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 20px;
  font-family: "Monomakh", "Times New Roman", serif;
  /*color: #ffde23;*/
  color: #ffc916;
  font-size: 32px;
}

.modal__image {
  width: 200px;
}

.modal__input {
  margin: 0;
  width: 300px;
}

.modal__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__input_otp {
  width: 40px;
  border: none;
  border: 3px solid #dedede;
  margin: 0 10px;
  text-align: center;
  font-size: 24px;
  color: #ffc916;
  background-color: #474747;
}

.modal__input:focus {
  border: 3px solid #ffc916;
  outline: none;
}

.modal__text {
  margin: 0 0 10px;
  font-size: 20px;
  color: #dedede;
}

.modal__answer {
  margin: 0;
  font-size: 20px;
  color: #dedede;
}

.modal__answer_clue {
  padding: 2px 6px;
  font-size: 16px;
  color: #ffc916;
  border: 1px solid #ffc916;
  border-radius: 4px;
}

.modal__text_italic {
  font-style: italic;
}

.modal__content {
  margin: 30px 0;
  width: 400px;
}

.modal__submit-button {
  padding: 2px 4px;
  background: #dedede;
  color: black;
  border: solid 2px #c5c4c4;
  border-radius: 4px;
}

.modal__submit-button:hover {
  background: #acacac;
  border: solid 2px #8b8b8b;
  cursor: pointer;
}

.modal__submission {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__link {
  color: #ffc916;
  font-size: 20px;
}

.modal__link:hover {
  cursor: pointer;
  opacity: 0.6;
}
