@font-face {
  src: url(../../vendor/fonts/Monomakh-Regular.ttf);
  font-family: "Monomakh";
}
@font-face {
  src: url(../../vendor/fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}

.writing {
  margin: 0 20%;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

.writing__intro {
  margin-bottom: 20px;
  border-bottom: solid 2px black;
}

.writing__header_one {
  font-family: "Monomakh", "Times New Roman", serif;
}

.writing__header_two {
  margin: 0 0 10px;
  font-size: 24px;
}

.writing__box {
  margin-bottom: 20px;
}

.writing__title {
  margin: 0 0 4px;
}

.writing__text {
  margin: 0 0 8px;
}

.writing__date {
  margin: 0 0 20px;
}

.writing__link {
  color: #375ace;
  background: transparent;
  text-decoration: none;
  background-image: linear-gradient(#375ace, #375ace);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s linear;
}

.writing__link:hover {
  color: #375ace;
  background-size: 100% 3px;
  cursor: pointer;
}
